body {
    background-color: white;
}

div {
    text-align: center;     
    margin : 0 auto;
}

.mainTitle {
    font-size: 20px;
}

.textBox {
    font-size: 15px;
    margin-top: 10px;
    height: 30px;
    width: 200px;
    border-radius: 15px;
}

.button {
    margin-top: 10px;
    height: 32px;
    width: 210px;
    text-align: center;
    background-color: green;
    border: 1px solid green;
    border-radius: 15px;
}

.button > a {
    color: white;
    text-decoration: none;
    line-height: 32px;
}

.all {
    margin-top: 300px;
}

input:focus {
    
}