.all {
    color: black;
    background-color: white ;
}

.header {
    border-radius: 5px;
    height: 50px ;
    background-color: green;
    
}

#homeButton {
    width: 150px;
    height: 50px;
    text-align: center;
}

.sideBar{
    width: 150px;
    height: 800px;
}

.sideBar > div {
    text-align: center;
    margin-top: 10px;
    width: 150px;
    height: 30px;
    background-color: green;
    border-radius: 15px;
}
