body{
    color: grey;
    background-color: aliceblue;
}

.header {
    width: inherit;
    height: 60px;
    border-bottom: 1px solid grey;
}

.home {
    font-size: 50px;
    width: 190px;
    height: inherit;   
    color: grey;
}

.github{
    width: 60px;
    height: inherit;
    background-image: url(./Image/githubicon.webp);
    background-size: cover;
    float: right;
}

.sideBar  {
    color: grey;
    width: 200px;
    height: 500px;
    position: relative;
    top: 10px;
}

.menuList {
    color: grey;
    width: 190px;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    left: 5px;
}

.menuList1 {
    top: 5px;        
}
.menuList2 {
    top: 15px;        
}
.menuList3 {
    top: 25px;        
}
.menuList4 {
    top: 35px;        
}
.menuList5 {
    top: 45px;        
}
