.all {
    font-style: normal;
    color: black;
    background-color: white ;
}

.header {
    border-radius: 5px;
    height: 50px ;
    background-color: green;  
}

#homeButton {
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.sideBar{
    width: 150px;
    height:fit-content; 
}

.sideBar > div {
    text-align: center;
    margin-top: 10px;
    width: 150px;
    height: 30px;
    background-color: green;
    border-radius: 15px;
    line-height: 30px;
}
