body {
    width: 1000px;
    height: max-content;
    background-color: white;
    
}

.mainTitle{
    font-size: 25px ;
    background-color: aliceblue;
    text-align: left;
    border-radius: 5px;
    border: 3px solid rgb(202, 242, 255);
}

.mainItems {
    position: relative;
    top: 20px;
    font-size: 20px;
    position: relative;
    background-color: aliceblue;
    border-radius: 5px;
    border-color: rgb(202, 242, 255);
    border: 3px solid rgb(202, 242, 255);
}

.textBox {
    position: relative;
    left: 40px;
    background-color: rgb(229, 237, 245);
    height: 25px;
    width: 100px;
    border-radius: 5px;
}


button {
    text-align: right;
}