body {
    height: max-content;
}

.mainTitle{
    font-size: 25px ;
    text-align: left;
    border-radius: 5px;
    background-color: green;
}

.mainItems {
    position: relative;
    top: 20px;
    font-size: 20px;
    position: relative;
    border-radius: 5px;

}

.textBox {
    position: relative;
    left: 40px;
    height: 25px;
    width: 100px;
    border-radius: 5px;
}


button {
    text-align: right;
}